* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: white;
  transition: background-color 2s ease-in-out;
  gap: 1em;
}
.btn {
  margin: 1em;
}
